* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-register {
    width: 400px;
    background-color: #b65200;
    padding: 30px;
    margin: auto;
    margin-top: 50px;
    border-radius: 4px;
    font-family: 'arial';
    color: white;
    box-shadow: 7px 13px 37px #000;
}

.centrar {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.logo {
    width: 200px;
    height: 41px;
}

a {
    text-decoration: none;
    color: white;
}

nav a{
    color: black;
}

.controls {
    width: 100%;
    background-color: #b65200;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'arial';
    font-size: 18px;
}

.form-register .butons {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}

nav a{
    color: black;
}
